$font-base: Segoeui;

$font-size-heading: 24px;
$font-size-text: 12px;

$font-bold: 600;

$border-radius: 3px;

$input-height: 32px;

$dialog-width: 400px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$color-gray: #ccc;
$color-gray-light: #e7e7e7;
$color-green: #549518;
$color-white: #fff;
$color-red: red;
$color-black: #000;

$color-link: $color-green;
$color-border: $color-gray;
$color-svg-default: $color-gray;
$color-disabled: $color-gray-light;
$color-error: $color-red;

$border-input-active: $color-green;
